<div class="row g-2 align-items-center mt-0 m-3">
  <div class="mb-3">
    <label for="name" class="form-label">名稱</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="小草蝦" value="{{product.name}}" required>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="mb-1">分類</label>
    <select class="form-control" id="categoryId" name="categoryId" required>
      <option value="category" disabled selected>請選擇一個分類</option>
      {{#each categories}}
      <option value="{{this.id}}" {{#ifCond this.id ../product.CategoryId }} selected {{/ifCond}}>
      {{this.name}}</option>
      {{/each}}
  </select>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">價錢</label>
    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    maxlength="10" class="form-control" id="price" name="price" placeholder="800" value="{{product.price}}" required>
  </div>
  <div class="mb-3">
    <label for="quantity" class="form-label">數量</label>
    <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    maxlength="10" class="form-control" id="quantity" name="quantity" placeholder="30" value="{{product.quantity}}" required>
  </div>
  <div class="mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image" value="{{product.image}}">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">商品描述</label>
    <textarea class="form-control" id="description" rows="3" maxlength="200" name="description" placeholder="好吃的小草蝦" required>{{product.description}}</textarea>
  </div>
  <div class="d-grid gap-2 d-md-block mb-3">
    <button type="submit" class="btn btn-primary">提交</button>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">回到上一頁</a>
  </div>
</div>
