<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>雲林小農市集</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/37dd6d0e3c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="https://cf.shopee.tw/file/67ca09ee540920a05a836c323f2245d2" type="image/x-icon">
</head>

<body>

  <div class="container">
    <header> 
      <div class="inner-header" style="border-bottom: 1px solid #6c757d;">
        <nav class="navbar navbar-expand-lg navbar-light my-2">
          <div class="container-fluid">
            <a class="navbar-brand" href="/home">
              <img src="/photos/farmer.jpeg" width="150" height="150" alt="農夫">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/home">首頁</a>
                </li>

                {{#ifCond user.role 'admin'}}
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">管理者平台</a>
                  </li>
                {{/ifCond}}
                {{#ifCond user.role 'user'}}
                <li class="nav-item">
                  <a class="nav-link" href="/users/setting">個人資料</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/orders">訂單查詢</a>
                </li>
                {{/ifCond}}

                {{#ifCond user.role 'admin'}}
                {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/cart">購物車</a>
                </li>
                {{/ifCond}}

                {{#if user}}
                <li class="nav-item">
                  <a class="nav-link" href="/users/logout">登出</a>
                </li>
                {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">登入</a>
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </nav>
      </div>

      {{#if category}}
      <nav class="navbar navbar-light">
        <div class="col-8">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link {{#ifCond '' categoryId}} active {{/ifCond}} category-item" href="/products?categoryId=">全部</a>
              </li>
              {{#each categories}}
                <li class="nav-item">
                  <a class="nav-link {{#ifCond this.id ../categoryId}} active {{/ifCond}} category-item"
                    href="/products?categoryId={{this.id}}">{{this.name}}</a>
                </li>
              {{/each}}
        </div>
        <div class="col-4 mt-4">
          <form class="d-flex" action="/search" >
            <input class="form-control me-2" type="text" placeholder="商品名稱" aria-label="Search" name="searchWords" value="{{ searchWords }}">
            <button class="btn btn-outline-danger" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </nav>
      {{/if}}
    </header>
    
    {{> messages}}
    {{{ body }}}  

    <footer>
      <div class="inner-footer p-5" style="border-top: 1px solid #6c757d;">
        <div class="nav-footer row justify-content-md-between">
          <div class="contact col-md-4 col-lg-3">
            <h5 class="text-secondary">聯絡方式</h5>
            <p class="text-secondary"><i class="fa-solid fa-phone pe-2"></i>05-6977459</p>
            <p class="text-secondary"><i class="fa-solid fa-mobile-screen pe-2"></i>0938-780-316</p>
          </div>
          <div class="contact col-md-4 col-lg-3">
            <h5 class="text-secondary">關於我們</h5>
            <p class="text-secondary">用心栽培</p>
            <p class="text-secondary">生鮮蔬果產地直送</p>
          </div>
          <div class="contact col-md-4 col-lg-3">
            <h5 class="text-secondary">追蹤我們</h5>
            <a href="" class="me-2"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="" class="me-2"><i class="fa-brands fa-line fa-2x"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>

</html>