<div class="row mt-5">
  {{#each products}}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/products/{{this.id}}">
          <img
            class="card-img-top"
            src="{{this.image}}"
            alt="Card image cap"
            width="300px"
            height="350px"
            style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;"
          />
        </a>
        <div class="card-body">
          <p class="card-text">
            <a class="text-decoration-none product-name" href="/products/{{this.id}}">
              {{this.name}}
            </a>
          </p>
          <div class="d-flex justify-content-between">
            <p class="card-text text-truncate">$ {{this.price}}</p>
            <i class="fa-solid fa-eye"><span class="view-counts m-1 fw-bolder">{{this.viewCounts}}</span></i>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>