<div class="row mt-5">
  {{#each products}}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/products/{{this.id}}">
          <img
            class="card-img-top img-fluid"
            src="{{this.image}}"
            alt="Card image cap"
            width="286px"
            height="180px"
            style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;"
          />
        </a>
        <div class="card-body">
          <p class="card-text">
            <a href="/products/{{this.id}}">
              {{this.name}}
            </a>
          </p>
          <p class="card-text text-truncate">$ {{this.price}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>