<div class="container">
  <div class="order-confirm-title text-center mt-3">
    <h1>訂購完成 #{{order.id}}</h1>
    <p style="color: #F75000;">請於訂單完成 3 天內完成付款，否則訂單將被取消。</p>
  </div>
  <div
    class="order-confirm-body d-flex flex-column align-items-center m-4"
    style="background: #ffdcdf;border-radius: 8px;"
  >
    <ul class="order-confirm-detail list-group mt-5 mb-3 px-3">
      <li class="list-group-item">訂單編號： {{order.id}}</li>
      <li class="list-group-item">總金額： $ {{order.totalAmount}}</li>
      <li class="list-group-item">配送住址： {{order.address}}</li>
    </ul>

    <div class="col mt-3">
      <a href="/products" class="btn btn-outline-danger my-3 me-2">返回首頁</a>
      <a href="/orders/{{order.id}}/payment" class="btn btn-danger my-3">線上付款</a>
    </div>

  </div>
</div>