<div class="row m-5">
  <div class="container d-flex justify-content-center">
    <div class="card user-register-form">
      <div class="card-body p-5">
        {{#if status}}
          <h2 class="text-center mt-2 mb-5">訂單編號 #{{orderId}} 交易成功</h2>
          <div class="mb-4 text-center mt-3">
            <a class="btn btn-outline-secondary" href="/products">回首頁</a>
            <a
              class="btn btn-primary btn-block m-2"
              style="background-color: #FF7575; border-color:#FF7575"
              href="/orders/{{orderId}}"
            >查看該筆購買紀錄</a>
          </div>
        {{else}}
          <h2 class="text-center mt-2 mb-5">訂單編號 #{{orderId}} 交易失敗</h2>
          <div class="mb-4 text-center mt-3">
            <a class="btn btn-outline-secondary" href="/products">回首頁</a>
            <a
              class="btn btn-primary btn-block m-2"
              style="background-color: #FF7575; border-color:#FF7575"
              href="/orders/{{orderId}}"
            >回到該筆訂單頁面重新付款</a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>